<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.house.common.dao.RoomTypeMapper">
  <resultMap id="BaseResultMap" type="com.li.house.common.domain.RoomType">
    <id column="r_id" jdbcType="VARCHAR" property="rId" />
    <result column="r_name" jdbcType="VARCHAR" property="rName" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, r_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_roomtype
    where r_id = #{rId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_roomtype
    where r_id = #{rId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.li.house.common.domain.RoomType">
    insert into t_roomtype (r_id, r_name)
    values (#{rId,jdbcType=VARCHAR}, #{rName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.li.house.common.domain.RoomType">
    insert into t_roomtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        r_id,
      </if>
      <if test="rName != null">
        r_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="rName != null">
        #{rName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.li.house.common.domain.RoomType">
    update t_roomtype
    <set>
      <if test="rName != null">
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.li.house.common.domain.RoomType">
    update t_roomtype
    set r_name = #{rName,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=VARCHAR}
  </update>

</mapper>