<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.house.common.dao.SubwayMapper">
  <resultMap id="BaseResultMap" type="com.li.house.common.domain.Subway">
    <id column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="s_name" jdbcType="VARCHAR" property="sName" />
  </resultMap>
  <sql id="Base_Column_List">
    s_id, s_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_subway
    where s_id = #{sId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_subway
    where s_id = #{sId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.li.house.common.domain.Subway">
    insert into t_subway (s_id, s_name)
    values (#{sId,jdbcType=VARCHAR}, #{sName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.li.house.common.domain.Subway">
    insert into t_subway
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        s_id,
      </if>
      <if test="sName != null">
        s_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="sName != null">
        #{sName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.li.house.common.domain.Subway">
    update t_subway
    <set>
      <if test="sName != null">
        s_name = #{sName,jdbcType=VARCHAR},
      </if>
    </set>
    where s_id = #{sId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.li.house.common.domain.Subway">
    update t_subway
    set s_name = #{sName,jdbcType=VARCHAR}
    where s_id = #{sId,jdbcType=VARCHAR}
  </update>




                                    <!--   自定义  -->
  <select id="getSubwayLines" resultMap="BaseResultMap">
    select * from  t_subway
  </select>
</mapper>